# GitHub Action file
name: Deployment of Online DevOps Dojo coach lambda

on: 
  push:
    # change(s) on those files trigger this pipeline
    paths: ['*.js', 'package*.json', 'serverless.yml', '.github/workflows/upload_lambda.yml']

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
#      - name: Ensure secrets availability (not supported)
#        if: secrets.AWS_ACCESS_KEY_ID == ''
#        run: echo "Secret AWS_ACCESS_KEY_ID is missing." && exit 1

      - name: Copy the repository
        uses: actions/checkout@v1
      
      - name: Check npm modules vulnerabilities
        run: npm audit

      # Install nodejs packages listed in package-lock.json.
      # Node 10 is current default in ubuntu-latest
      - run: npm install --only=prod

      # run "serverless deploy --verbose" in a docker container and run the config file serverless.yml
      - name: Deploy lambda
        uses: serverless/github-action@v1.49.0  # v1.52/1.53 have a bug
        env: # all mandatory
          # AWS
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
          AWS_STAGE: prod
          # GITHUB APP
          APP_ID: 43025
          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        with:
          args: deploy --verbose
